/* секція наша команда */
.section-headings.bottom {
  font-size: 28px;
  // margin-bottom: 50px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.section-team {
  background-color: var(--button-background);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // mobile
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
  }
}
.team__members {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.team__item {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__positions {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}
